header,
main,
section,
footer   {
	min-height: 300px;
	font-family: 'Questrial', sans-serif;
	border-radius: 3px;
}

main,
section,
footer   {
	border: solid 2px black;
	min-width: 300px;
}

body {
	background: var(--page-bg);
}


header {
	grid-area: title;
	display: flex;
	justify-content: flex-end;
	grid-template-rows: 3fr;
}