body {
	margin: 5%;
}

.site {
	display: grid; 
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 2em 2em;

	grid-template-areas: 
	"content content title"
	"content content title"
	"content content title"

}