.site {
	display: grid; 
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1em 1em;

	grid-template-areas: 
	"content content title"
	"content content title"
	"content content title"

}